.barcode-heading {
  text-align: left;
  margin-left: 100px;
  margin-top: -20px;
}

.container {
  background-color: #caf0fc;
  padding-top: -100%;
  margin-top: -100%;
}
.result-container {
  margin-top: 200px;
}

.h_container {
  background-color: #caf0fc;
  width: 100vw;
  height: 30vh;
}

.para {
  text-align: left;
  margin-left: 150px;
  margin-top: 120px;
  top: 0%;
  position: fixed;
  color: rgba(247, 14, 14, 0.89);
}

.line {
  text-align: left;
  margin-left: 250px;
  margin-top: 150px;
  top: 0%;
  position: absolute;
}

.load {
  text-align: left;
  margin-left: 250px;
  margin-top: 250px;
  top: 0%;
  position: absolute;
}

.barcode {
  margin-top: 20px;
}

.bg {
  background-color: #caf0fc;
  background-size: fill;
  overflow-y: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  width: fit-content;
  height: 100vh;
}

.space {
  margin-right: 5px;
}

.spaces {
  margin-right: 22px;
}

.wide {
  width: 50px;
}

.gap {
  margin-right: 20px;
}

.l_space {
  margin-left: 10px;
  padding-left: 20px;
}

.button {
  background-color: #ffbc03;
  color: white;
}

.table_space {
  margin-top: 50px;
  margin-right: 1000px;
  color: rgba(247, 14, 14, 0.89);
}

.barcode_space {
  margin-right: 190px;
  margin-left: -325px;
}

.qrcode {
  margin-left: 0px;
}
.rule-line {
  height: 5px;
  width: 100%;
}
.pallet-qr-container {
  border: 1px solid #162b1c;
}
.palletID-value {
  font-size: 22px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.pkg-container {
  margin-top: 15px;
  border: 2px solid red;
}
